<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="stylesheet" href="/style.css">
    <title>Attended Eventees</title>
</head>
<body>
    <div>
        <nav>
            <a href="/" id="navFlex1"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
            <div>
              <span><a id="navLink" href="/eventees/eventeeDashboard">Dashboard</a></span>
              <span><a id="logoutLink"  href="/eventees/logout">Logout</a></span>
              <img src="<%=user.image.url%>" alt="user Image" style="height:40px; width: 40px; border-radius: 50%; vertical-align: middle;margin-left: 50px;">
            </div>
        </nav>
        <div id="welcomeContainer">
            <div id="welcomeMessage">
              <h1 style="font-size: 70px;">Attended events</h1 >
              <p style="font-size: 70px;"><b>Result: </b><%=count%></p>
             
            </div>
      
            <div id="imageContainer">
            <img id="indexImage" src="/eventees2.jpg" alt="image">
            </div>
          
        </div>
      
       <%if(attendedEvents != 0){%>
        <%if(count == 1){%>
            <h1 style="text-align: center;margin-bottom: 50px;text-decoration: underline;">The event is:</h1>
           <ol id="allEventsContainer">
              <% for(const event of attendedEvents){%>
                <div class="eventContainer">
                <li>
                       <p><%=event.title%></p>
                       <img src="<%=event.event_image.url%>" alt="event image" style="height:100px; width: 200px"> 
                </li>
                </div>
               <%}%>
           </ol> 
        <%}else{%>
            <h1 style="text-align: center;margin-bottom: 50px;text-decoration: underline;">They are:</h1>
           <ol id="allEventsContainer">
              <% for(const event of attendedEvents){%>
                <div class="eventContainer">  
                <li>
                    <p><%=event.title%></p>
                    <img src="<%=event.event_image.url%>" alt="event image" style="height:100px; width: 200px"> 
                </li>
                </div>
               <%}%>
           </ol>
        <%}%>
           
       <%}else{%>
        <div style="text-align: center;">
            <img src="/empty.jpg" alt="image" style="width:300px; height: 300px;">
              <h4>You have not attended any event yet.</h4> 
              <p>Get a ticket today.</p> 
        </div>
       <%}%>
       <footer>
        <%-include("partials/footer.ejs")-%>
    </footer>
</div>
</body>
</html>