<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <img src="<%=user.image.url%>" alt="user Image" style="height:50px; width: 50px; border-radius: 50%;">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events/createEvent">Create Event</a></li>
        <li><a href="/creators/scanner">QRcode scanner</a></li>
        <li><a href="/creators/allTicketedEventees">All the time ticketed Eventees</a></li>
        <li><a href="/creators/allScannedEventees">All the time scanned eventees (attendees)</a></li>
        <li><a href="/creators/logout">Logout</a></li>
      </ul>  
    </nav>


    <% if(events.length != 0){%>
    <h2>Welcome back</h2>

    <%if(skip == 0){%> 
      <p style="text-align: center; margin:10px auto; background-color: black; color: white; width: 20%; padding: 5px;margin-top: 20px;">Page 1</p>
      <ul class="page" style="display: flex; gap:5px;list-style-type:none;margin: 10px auto;justify-content: center;">
       
          <span style="font-weight: bold;">Next page/s &rArr;</span>
          <%for(let i = 1; i<= maxPage - 1; i++){%>
        <li>
          <a style="text-decoration: none;"
            href="http://localhost:8000/creators/creatorDashboard?page=<%=allPages[i]%>"
            >Page <%=allPages[i] + 1%></a
          >
        </li>
        
        <%}%>
        </ul>
        
        <%}%>
      
        <%if(skip != 0){%>
          <p style="text-align: center; margin:10px auto; background-color: black; color: white;width: 20%; padding: 5px; margin-top: 20px;">Page <%=page + 1%></p>
      <ul class="page" style="display: flex; gap:5px;list-style-type:none;margin: 10px auto;justify-content: center;">
        
        <li>
          <a style="text-decoration: none;" href="http://localhost:8000/creators/creatorDashboard?page=0"
            >Page 1</a
          >
        </li>
        <span style="font-weight: bold;">&rArr;</span>
        
        <span style="font-weight: bold;">Next page/s &rArr;</span>
        
        <%for(let i = 1; i<= maxPage - 1; i++){%>
          
        <li>
          <a style="text-decoration: none;"
            href="http://localhost:8000/creators/creatorDashboard?page=<%=allPages[i]%>"
            >Page <%=allPages[i] + 1%></a
          >
        </li>
        
        <%}%>
      </ul>
      
      <%}%>



      <hr>
            <form action="/creators/event/filter" method="get">
              <label for="state"
                >Filter the events by state (Draft or Posted):</label>
                <select name="state">
                  <option value="">
                    --Select a state--
                  </option> 
                  <option name="state" value="All">All</option>    
                  <option name="state" value="Draft">Draft</option>
                  <option name="state" value="Posted">Posted</option>
              
                </select>
              
              <button type="submit">filter</button>
            </form>
          <hr>
    
    <ul style="padding: none;list-style-type: none;">

        <%for(let i = 0; i < events.length; i++){%>
         
            <li>
              <h2 style="color: green; font-weight: bold;"><%=events[i].title%></h2>
              
              <a href="/events/thisEvent/share/<%=events[i].id%>" title="Click to read more and share the event" target="_blank">
                <img src="<%=events[i].event_image.url%>" alt="event image" style="width: 300px; height: 200px;">
              </a>
   
                <%if(events[i].state==="Draft"){%>
                  <p
                      style="background-color: brown; color: white; width:20%; padding: 10px;"
                      class="eventState"
                    >
                      <%=events[i].state%>
                    </p>
                <form
                  action="/events/postEvent/<%=events[i].id%>"
                  method="PUT">
                  <button
                    id="state"
                    type="submit"
                    formmethod="post"
                    title="click to post the Event"
                    >
                    Post the Event
                  </button>
                </form>
                <a href="/events/eventUpdatePage/<%=events[i].id%>">Update or Delete event from here</a>
                
                <%}else{%>
                <div style="display: flex; gap: 20px;">
                  <p
                      style="background-color: green; color: white; width:20%; padding: 10px;"
                      class="articleState"
                    >
                      <%=events[i].state%>
                    </p>

                    
                  </div>
                <div style="display: flex; gap: 20px;">
                  <p><a href="/creators/getUnticketedEventees/<%=events[i].id%>">List of unticketed Eventees</a></p>
                  <p><a href="/creators/getTicketedEventees/<%=events[i].id%>">List of ticketed Eventees</a></p>
                  <p><a href="/creators/getScannedEventees/<%=events[i].id%>">List of Scanned Eventees (Attendees)</a></p>
                </div>
                
            
                  <a href="/events/eventUpdatePage/<%=events[i].id%>">Update or Delete event from here</a>
                <%}%>
            </li>
            
        <%}%>
    </ul>

    <%if(skip == 0){%> 
      <p style="text-align: center; margin:10px auto; background-color: black; color: white; width: 20%; padding: 5px;margin-top: 20px;">Page 1</p>
    <ul class="page" style="display: flex; gap:5px;list-style-type:none; margin: 10px auto;justify-content: center;">
     
        <span style="font-weight: bold;">Next page/s &rArr;</span>
        <%for(let i = 1; i<= maxPage - 1; i++){%>
      <li>
        <a style="text-decoration: none;"
          href="http://localhost:8000/creators/creatorDashboard?page=<%=allPages[i]%>"
          >Page <%=allPages[i] + 1%></a
        >
      </li>
      
      <%}%>
      </ul>
      
      <%}%>
    
      <%if(skip != 0){%>
        <p style="text-align: center; margin:10px auto; background-color: black; color: white;width: 20%; padding: 5px; margin-top: 20px;">Page <%=page + 1%></p>
    <ul class="page" style="display: flex; gap:5px;list-style-type:none;margin: 10px auto;justify-content: center;">
      
      <li>
        <a style="text-decoration: none;" href="http://localhost:8000/creators/creatorDashboard?page=0"
          >Page 1</a
        >
      </li>
      <span style="font-weight: bold;">&rArr;</span>
      
      <span style="font-weight: bold;">Next page/s &rArr;</span>
      
      <%for(let i = 1; i<= maxPage - 1; i++){%>
        
      <li>
        <a style="text-decoration: none;"
          href="http://localhost:8000/creators/creatorDashboard?page=<%=allPages[i]%>"
          >Page <%=allPages[i] + 1%></a
        >
      </li>
      
      <%}%>
    </ul>
    <%}%>

<%}else{%>
    <h1>Welcome <%=user.name%> to your dashboard</h1>
    <h2>There is no drafted or posted event yet.</h2>
    <a href="/events/createEvent">Create Event</a>
<%}%>
</body>
</html>