<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <img src="<%=user.image.url%>" alt="user Image" style="height:50px; width: 50px; border-radius: 50%;">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events/createEvent">Create Event</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>  
    </nav>

    <% if(events.length != 0){%>
    <h2>Welcome back</h2>
    
    <ul>
        <%for(const event of events){%>
            <li>
                <p><%=event.title%></p>
                <p><%=event.tag%></p>
                <p><img src="<%=event.event_image.url%>" alt="event image" style="width: 300px; height: 200px;"></p>
                <p><%=event.description%></p>
                <p><%=event.event_date%></p>
                <p><%=event.registration_deadline%></p>
                <p><%=event.ticket_price%></p>
                <p><%=event.discount%></p>
                <p><%=event.additonal_info%></p>

              
                <%if(event.state==="Draft"){%>
                  <p
                      style="background-color: brown; color: white; width:20%; padding: 10px;"
                      class="eventState"
                    >
                      <%=event.state%>
                    </p>
                <form
                  action="/events/postEvent/<%=event.id%>"
                  method="PUT">
                  <button
                    id="state"
                    type="submit"
                    formmethod="post"
                    title="click to post the Event"
                    >
                    Post the Event
                  </button>
                </form>
                <%}else{%>
                  <p
                      style="background-color: green; color: white; width:20%; padding: 10px;"
                      class="articleState"
                    >
                      <%=event.state%>
                    </p>
                  <p><a href="/creators/getUnticketedEventees/<%=event.id%>">Unticketed Eventees</a></p>
                  <p><a href="/creators/getTicketedEventees/<%=event.id%>">Ticketed Eventees</a></p>
                <%}%>
              
            </li>
        <%}%>
    </ul>
<%}else{%>
    <h1>Welcome <%=user.name%> to your dashboard</h1>
    <h2>You can now begin to create Events</h2>
    <a href="/events/createEvent">Create Event</a>
<%}%>
</body>
</html>