<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Dashboard</title>
    <style>

      #title{
        color:green;
        font-weight: bold;
      }
      #eventContainer{
        padding:16px 0;
        width: 30%;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 20px;
        
      }

      #allEventsContainer{
        display: flex;
        gap: 20px;
        justify-content:center;
        flex-wrap: wrap;
      }
    </style>
</head>
<body>
  <nav>
    <a href="/" id="navFlex1"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>  
    <div>
      <span><a id="navLink" href="/eventees/boughtEvents">Ticketed Events</a></li>
      <span><a id="navLink" href="/eventees/attendedEvents">Attended Events</a></span>
      <span><a id="logoutLink" href="/eventees/logout">Logout</a></span>
      <img src="<%=user.image.url%>" alt="user Image" style="height:40px; width: 40px; border-radius: 50%; vertical-align: middle;margin-left: 50px;">
    </div>    
  </nav>
  
  <div id="welcomeContainer">
    <div id="welcomeMessage">
      <p data-aos="fade-right" data-aos-duration="1000" style="font-size: 30px;">Welcome <b><%=user.name%>.</b></p >
      <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;">The Dashboard</h1>
     
      <a id="btn" href="/events/myCheckList">Checklist</a>
    </div>

    <div id="imageContainer">
    <img id="indexImage" src="/eventees2.jpg" alt="image">
    </div>
  
  </div>

    <!--------------------------------------------------------------------------------------->

    <h2 data-aos="fade-up" data-aos-duration="1000" id="howTitle">JUST <span style="color: blue;font-size: 40px;">3</span> CLICKS TO GET A TICKET</h2>
        <div data-aos="fade-up" data-aos-duration="1000" id="howContainer">
          <ol id="howList">
            <li>Add event to Checklist</li>
            <li>Open the Checklist</li>
            <li>Buy ticket</li>
          </ol>
        </div>
<hr>
<form action="/eventees/event/filter" method="get">
  <label for="category"
    >Filter the events by categories:</label>
    <select name="category" style="padding: 5px; width: 400px; text-align: center; font-size: 18px;">
      <option value="">
        --Select a category--
      </option> 
      <option name="category" value="All">All</option>    
      <option name="category" value="Charity">Charity</option>
      <option name="category" value="Concert">Concert</option>
      <option name="category" value="Conference">Conference</option>
      <option name="category" value="Exhibition">Exhibition</option>
      <option name="category" value="Film Show">Film Show</option>
      <option name="category" value="Product Launch">Product Launch</option>
      <option name="category" value="Vetworking">Networking</option> 
      <option name="category" value="Seminar">Seminar</option>
      <option name="category" value="Sport">Sport</option>
      <option name="category" value="Symposium">Symposium</option>
      <option name="category" value="Theater">Theater</option>
      <option name="category" value="Trade Show">Trade Show</option> 
      <option name="category" value="Workshop">Workshop</option>    
    </select>
  
  <button type="submit" class="searchAndSort">filter</button>
</form>
<hr>


<!------------------------------------------------------------------------------------------>


<hr>
<form action="/eventees/event/titleSearch" method="get">
<label for="title">Search for event by "Title": </label>
<input type="text" name="title" placeholder="Enter the title here" style="padding: 5px; width: 400px; text-align: center; font-size: 18px;">
<button type="submit">Search</button>
</form>
<hr>

<!--------------------------------------------------------------------------------------------->

    <%if(event){%>

<div id="allEventsContainer">
<div id="eventContainer" data-aos="fade-up" data-aos-duration="1000" > 
<p id="title" style="text-align: center;font-size: 24px;font-weight: bold;"><%=event.title%></p>
        
    <p id="time"><b>Posted:</b><%=event.posted_date%> <span>(<%= Math.round(passday)%> days ago)</span></p> 
   
    
    <a id="link" href="/events/thisEvent/share/<%=event.id%>" title="Click to read more and share the event" target="_blank" >
      <p><img src="<%=event.event_image.url%>" alt="event image" style="width: 300px; height: 200px;"></p>
    </a>
    <p data-aos="zoom-in" data-aos-duration="1000"><%=event.event_date%></p>
    <p data-aos="zoom-out" data-aos-duration="1000"><%=event.starting_time%> - <%=event.ending_time%> WAT</p>
    <p data-aos="zoom-in" data-aos-duration="1000"><%=event.venue%></p>
    <p data-aos="zoom-out" data-aos-duration="1000"><%=event.creatorId.company_name%></p>

    <div style="display: flex; gap: 20px; justify-content: center;">
        <form action="/events/chooseEvent/<%=event.id%>" method="PUT">
            <button
            data-aos="fade-left" data-aos-duration="1000"
            style="text-decoration: none;padding: 5px; background-color: green;color: white; border: none; cursor: pointer;"
              id="state"
              type="submit"
              formmethod="post"
              title="Click to add the event to your List"
            >
              Add event to your list
            </button>
        </form>

        <form action="/events/removeEvent/<%=event.id%>" method="PUT">
          <button
          data-aos="fade-right" data-aos-duration="1000"
          style="text-decoration: none;padding: 5px; background-color: green;color: white; border: none; cursor: pointer;"
            id="state"
            type="submit"
            formmethod="post"
            title="Click to remove the event from your List"
          >
            Remove event from your List
          </button>
      </form>
  </div>
</div>
</div>
 <%}else{%>

<div style="text-align: center;">
  <img data-aos="fade-up" data-aos-duration="1000" src="/empty.jpg" alt="image" style="width:300px; height: 300px;">
    <h4 data-aos="fade-up" data-aos-duration="1000">Event not found</h4> 
    <p data-aos="fade-up" data-aos-duration="1000">Check back later.</p> 
</div>
    
<%}%>

<script>
  const container = document.getElementById("eventContainer")
  const link = document.getElementById("link")
  const title = document.getElementById("title")
  const time = document.getElementById("time")

link.addEventListener("mouseover", ()=>{
  container.style.backgroundColor = "lightgrey"
  title.style.color = "brown"
  time.style.color = "black"
  time.style.fontWeight = "bold"
})

link.addEventListener("mouseleave", ()=>{
  container.style.backgroundColor = "whitesmoke"
  title.style.color = "green"
  time.style.color = "initial"
  time.style.fontWeight = "initial"
})
  
</script>
<footer>
  <%-include("partials/footer.ejs")-%>
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>