<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event update</title>
</head>
<body>

    <nav>
        <a href="/creators/creatorDashboard">Dashboard</a>
    </nav>
    
    <h1 style="margin-bottom: 50px;">You can make update to the event or delete the event from here.</h1>
    
    <%if(updateSuccessMessage){%>
        <p style="color: green; text-align: center; font-size: 24px;"><%=updateSuccessMessage%></p>
      <%}%>
      <%if(reminderSuccessMessage){%>
        <p style="color: green; text-align: center; font-size: 24px;"><%=reminderSuccessMessage%></p>
      <%}%>
    
      <hr>
    <div>
        <h2 style="text-align: center;font-weight: bold;font-size: 24px;"><%=event.title%></h2>
        <p><img src="<%=event.event_image.url%>" alt="event image" style="width: 200px; height: 100px;"></p>
        <p><strong>Description:</strong> <%=event.description%></p>
    </div>
    <hr>
    <h2 style="margin-top:50px ;">UPDATE EVENT DESCRIPTION</h2>

    
    <form action="/events/updateEvent/<%=event._id%>" method="PUT">
        
        <textarea name="description" cols="100" rows="10" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; margin:0 auto;"></textarea>
        <figcaption style="text-align: center;">Description</figcaption>
        <button type="submit" formmethod="post" style="cursor: pointer; padding: 10px; background-color:green;color: white;border: none;">Update</button>
    </form>

    <form action="/creators/setReminder/<%=event._id%>" method="post">
      <label for="reminder_days">Update number of days to the Event to send reminder to Eventees: </label>
      <!-- <input type="text" name="reminder_days" placeholder="Enter number ONLY"> -->
      <select name="reminder_days" id="">
        <option value="">--choose a number</option>
        <option name="reminder_days" value="1">1</option>
        <option name="reminder_days" value="2">2</option>
        <option name="reminder_days" value="3">3</option>
        <option name="reminder_days" value="4">4</option>
        <option name="reminder_days" value="5">5</option>
        <option name="reminder_days" value="6">6</option>
        <option name="reminder_days" value="7">7</option>
        <option name="reminder_days" value="8">8</option>
        <option name="reminder_days" value="9">9</option>
        <option name="reminder_days" value="10">10</option>
      </select>
      <button formmethod="post" type="submit">Update</button><span> Note:Don't enter any text (A-Z)</span>
    </form>

    <h2 style="margin-top:50px">DELETE EVENT</h2>
    <P><b>Note:</b> It will not be visible again to the general users/eventees after deleting</P>
    <p>Do you still want to delete the event ?</p>
    <form action="/events/deleteEvent/<%=event._id%>" method="DELETE">
        <button type="submit" formmethod="post" style="cursor: pointer; padding: 10px; background-color: brown;color: white;border: none;">Delete</button>
    </form>

</body>
</html>