<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Event update</title>
</head>
<body>
  <div>
    <nav>
        <a href="/" id="navFlex1"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="navLink" href="/creators/creatorDashboard">Dashboard</a></span>
          <span><a id="logoutLink"  href="/creators/logout">Logout</a></span>
          
        </div>
    </nav>

    <div id="welcomeContainer">
      <div id="welcomeMessage">
        <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;">Update room for:</h1>
        <p data-aos="zoom-out" data-aos-duration="1000" style="font-size: 70px;"><%=event.title%></p>
        <%if(updateSuccessMessage){%>
          <p data-aos="zoom-in" data-aos-duration="1000" style="color: green; text-align: center; font-size: 34px; font-weight: bold; background-color: white;text-align: center; border-radius: 10px;margin:auto 24px;"><%=updateSuccessMessage%></p>
          <%}%>
        <%if(reminderSuccessMessage){%>
          <p  data-aos="zoom-in" data-aos-duration="1000" style="color: green; text-align: center; font-size: 34px; font-weight: bold; background-color: white;text-align: center; border-radius: 10px;margin:auto 24px;"><%=reminderSuccessMessage%></p>
          <%}%>
        <%if(priceChangeMessage){%>
          <p data-aos="zoom-in" data-aos-duration="1000" style="color: green; text-align: center; font-size: 34px; font-weight: bold; background-color: white;text-align: center; border-radius: 10px;margin:auto 24px;"><%=priceChangeMessage%></p>
        <%}%>
      </div>

      <div id="imageContainer">
        <img id="indexImage" src="<%=event.event_image.url%>" alt="image">
      </div>
    
    </div>
    <!-- eventDelMessage -->
    <div style="padding: 16px;">
    
    
    <h2 data-aos="fade-up" data-aos-duration="1000" style="text-decoration: underline;">Description:</h2>
    <p data-aos="fade-up" data-aos-duration="1000"><%=event.description%></p>
    
  
    <h2 data-aos="zoom-in" data-aos-duration="1000" id="updateHeading">UPDATE DESCRIPTION</h2>
    <form action="/events/updateEvent/<%=event._id%>" id="form" method="PUT" >
        
        <textarea data-aos="fade-up" data-aos-duration="1000" name="description" cols="100" rows="10" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; margin:0 auto;"></textarea>
        <figcaption data-aos="fade-up" data-aos-duration="1000" style="text-align: center;">Description</figcaption>
        <button data-aos="fade-up" data-aos-duration="1000" type="submit" formmethod="post" class="updateBtn">Update</button>
    </form>

    <h2 data-aos="zoom-in" data-aos-duration="1000" id="updateHeading">CHANGE TICKET PRICE FOR LATE BIRDS</h2>
    <form action="/events/changePrice/<%=event._id%>" id="form" method="PUT" >
      <label data-aos="fade-left" data-aos-duration="1000" for="ticket_price" style="text-decoration: underline;font-weight: bold;">Enter the late bird ticket price (&#8358;): </label> 
      <input data-aos="fade-right" data-aos-duration="1000" type="text" name="ticket_price" class="input" placeholder="3000">
        <button data-aos="fade-up" data-aos-duration="1000" type="submit" formmethod="post" class="updateBtn">Update</button>
    </form>

    <h2 data-aos="zoom-in" data-aos-duration="1000" id="updateHeading">UPDATE NOTIFICATION DAY</h2>
    <form action="/creators/setReminder/<%=event._id%>" id="form" method="post">
      <label data-aos="fade-left" data-aos-duration="1000" for="reminder_days" style="text-decoration: underline;font-weight: bold;">Update the day for Eventful to send notification to eventees: </label>
      <select data-aos="fade-right" data-aos-duration="1000" name="reminder_days" class="input">
        <option value="">---------How many days to the event ?----------</option>
        <option name="reminder_days" value="1">1</option>
        <option name="reminder_days" value="2">2</option>
        <option name="reminder_days" value="3">3</option>
        <option name="reminder_days" value="4">4</option>
        <option name="reminder_days" value="5">5</option>
        <option name="reminder_days" value="6">6</option>
        <option name="reminder_days" value="7">7</option>
        <option name="reminder_days" value="8">8</option>
        <option name="reminder_days" value="9">9</option>
        <option name="reminder_days" value="10">10</option>
      </select>
      <button data-aos="fade-up" data-aos-duration="1000" class="updateBtn2"  formmethod="post" type="submit">Update</button>
    </form>

    <h2 data-aos="zoom-in" data-aos-duration="1000"  id="updateHeading">DELETE EVENT</h2>
    <div id="form">
    <P data-aos="fade-left" data-aos-duration="1000"><b>Note:</b> It will not be visible again to the general users/eventees after deleting</P>
    <p data-aos="fade-right" data-aos-duration="1000">Are you sure you want to delete the event ?</p>
    <form action="/events/deleteEvent/<%=event._id%>"  method="DELETE">
        <button data-aos="fade-up" data-aos-duration="1000" type="submit" formmethod="post" class="updateBtn3">Delete</button>
    </form>
  </div>

  </div>
  <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>