<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
<div>
    <nav>
        <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="navLink" href="/helpCenter">Help Center</a></span>
          <span><a id="navLink" href="/creators/creatorHomePage">Create Event</a></span>
          <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
          <span><a id="navLink" href="/eventees/login">Log In</a></span>
        </div>
      </nav>

    <div id="welcomeContainer">
      <div id="welcomeMessage">
        <h1 style="font-size: 70px;"><%=message%></h1>
        <p style="font-size: 25px;">...your passport to a world of unforgettable moments</p>
        <a id="btn" href="/eventees/signup">Create an account</a>
      </div>

      <div id="imageContainer">
      <img id="indexImage" src="/happy_eventee3.jpg" alt="image">
      </div>
    
    </div>
     
  <div id="homeContent">
    <p>Eventful is more than just a ticketing platform.It is your passport to a world of unforgettable moments.
        From pulsating concerts to captivating theater performances, and thrilling sports events to enlightening cultural gatherings, we curate a diverse array of experiences that cater to every taste and passion.
    </p>

    <!-- ----------------------------- -->
    <ul id="allEventsContainer"  style="list-style-type: none;padding:0;">
      <%for(let i = 0; i < events.length; i++){%>
    <div class="eventContainer">
      <h2 class="title"><%=events[i].title%></h2>
      <li>
          <a class="link" href="/events/thisEvent/share/<%=events[i].id%>" title="Click to read more and share the event" target="_blank" >
            <img src="<%=events[i].event_image.url%>" alt="event image" style="width: 300px; height: 200px;">    
        </a>

        <p><%=events[i].event_date%></p>
        <p><%=events[i].starting_time%> - <%=events[i].ending_time%> WAT</p>
        <p><%=events[i].venue%></p>
        <p><%=events[i].creatorId.company_name%></p>
      </li>
    </div>
  <%}%>
  </ul>
    
        <!-- --------------------------------- -->

    <h2 style="text-align: center; font-size: 24px;margin-top: 100px;">Are you an event Creator ?</h2>
    <div style="display: flex; gap: 10px; justify-content:space-around; font-size: 24px;">
        <a id="creatorBtn" href="/creators/creatorHomePage">Get started for free</a>
    </div>
  </div>


  <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
</div>

      <script>
        const containers = document.querySelectorAll(".eventContainer")
        const links = document.querySelectorAll(".link")
        const titles = document.querySelectorAll(".title")
        const times = document.querySelectorAll(".time")
  
        links.forEach(link => {
          link.addEventListener("mouseover", ()=>{
          containers.forEach(container=>{
          container.style.backgroundColor = "lightgrey"
          titles.forEach(title=>{
            title.style.color = "brown"
          })
          times.forEach(time=>{
            time.style.color = "black"
            time.style.fontWeight = "bold"
          })
          
        })
         
          
        })
  
        link.addEventListener("mouseleave", ()=>{
          containers.forEach(container=>{
          container.style.backgroundColor = "whitesmoke"
          titles.forEach(title=>{
            title.style.color = "green"
          })
          times.forEach(time=>{
            time.style.color = "initial"
            time.style.fontWeight = "initial"
          })
       
        })
        })
        });
      </script>
</body>
</html>