<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Check List</title>
</head>
<body>
  <div>
    <nav>
      <a href="/" id="navFlex1"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>  
      <div>
        <span><a id="navLink" href="/eventees/eventeeDashboard">Dashboard</a></li>
        <span><a id="logoutLink" href="/eventees/logout">Logout</a></span>
        <img src="<%=user.image.url%>" alt="user Image" style="height:40px; width: 40px; border-radius: 50%; vertical-align: middle;margin-left: 50px;">
      </div>    
    </nav>

    <div id="welcomeContainer">
      <div id="welcomeMessage">
        <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;">Ticketing Room</h1>
        <p data-aos="fade-left" data-aos-duration="1000" style="font-size: 30px;">Almost there, <b><%=user.name%>.</b></p >
        <p data-aos="zoom-out" data-aos-duration="1000">Now, you can buy ticket for your chosen events.</p>
        <%if(reminderDaySuccess){%>
          <p data-aos="zoom-in" data-aos-duration="1000" style="color: green; text-align: center; font-size: 24px; font-weight: bold; background-color: white;text-align: center; border-radius: 10px;margin:auto 24px;"><%=reminderDaySuccess%></p>
        <%}%>
      </div>

      <div id="imageContainer">
      <img id="indexImage" src="/ticket.avif" alt="image">
      </div>
    
    </div>

    <%if(lists.length != 0){%>
        <ul id="allEventsContainer"  style="list-style-type: none;padding:0;margin-bottom: 80px;">
            <%for(const list of lists){%>
              <div data-aos="fade-up" data-aos-duration="1000" class="eventContainer">
                <li>
                    <p><%=list.title%></p>
                    <p><img src="<%=list.event_image.url%>" alt="event image" style="width: 200px; height: 100px;"></p>
                    <p><strong>Ticket Price: </strong>&#36;<%=list.ticket_price%></p>
                    <p><strong>Event Date: </strong><%=list.event_date%></p>
                    <p><strong>Registration Deadline: </strong><%=list.registration_deadline%></p>
                </li>
                <%if(list.ticketedEventeesId.includes(user.id)){%>
                  <div style="display: flex;justify-content: center;">
                    <p style="color:green; font-weight: bold;"> Purchased</p>
                    <img src="/mark.png" alt="image" style="width: 50px; height: 50px;"> 
                  </div>
                    
                  <form action="/eventees/setReminder/<%=list.id%>/<%=user.id%>" method="post" style="text-align: center; padding: 10px;">
                        <label data-aos="fade-left" data-aos-duration="1000" for="eventeeReminder_days" style="font-weight: bold; text-decoration: underline;">Set a notification day to get a reminder</label>
                        <select data-aos="fade-right" data-aos-duration="1000" name="eventeeReminder_days" style="padding: 5px; width:80%; text-align: center; font-size: 18px;margin-top: 20px;">
                            <option value="">--How many days to the event ?-----</option>
                            <option name="eventeeReminder_days" value="1">1</option>
                            <option name="eventeeReminder_days" value="2">2</option>
                            <option name="eventeeReminder_days" value="3">3</option>
                            <option name="eventeeReminder_days" value="4">4</option>
                            <option name="eventeeReminder_days" value="5">5</option>
                            <option name="eventeeReminder_days" value="6">6</option>
                            <option name="eventeeReminder_days" value="7">7</option>
                            <option name="eventeeReminder_days" value="8">8</option>
                            <option name="eventeeReminder_days" value="9">9</option>
                            <option name="eventeeReminder_days" value="10">10</option>
                          </select>
                        <button formmethod="post" type="submit" class="creatorLink1">Set</button>
                      </form>
                <%}else{%>
                    <form action="/eventees/buyTicket/<%=list.id%>/<%=list.ticket_price%>" method="GET" style="margin-bottom: 20px;margin-top: 50px; text-align: center;" target="_blank">
                        <input data-aos="fade-right" data-aos-duration="1000" type="text" value="&#8358;<%=list.ticket_price%>" readonly style="border-radius: 100%; padding: 5px; text-align: center; width:50px; height: 50px; background-color: brown; color: white; border: none;font-weight: bold;">
                        <button
                        data-aos="fade-up" data-aos-duration="1000"
                          id="state"
                          type="submit"
                          formmethod="get"
                          title="Click to buy Ticket"
                          style="cursor: pointer;padding: 5px;background-color: white; font-weight: bold; color: green; border-radius: 5px;"
                        >
                          Buy Ticket
                        </button>
                    </form>
                <%}%>
                
              </div>
            
            <%}%>
        </ul>
    <%}else{%>
      <div style="text-align: center;">
        <h4 data-aos="fade-up" data-aos-duration="1000">You have not chosen any event yet.</h4> 
        <img src="/empty.jpg" alt="image" style="width:300px; height: 300px;">
          <p data-aos="fade-left" data-aos-duration="1000">Go back to the dashboard to choose an event.</p> 
      </div>
   <%}%>
   <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
  </div> 
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>