<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Error</title>
</head>
<body>
    <nav>
        <a href="/" id="navFlex1"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>  
          
    </nav>
    <div style="text-align: center;line-height: 0.5;">
        <img data-aos="zoom-in" data-aos-duration="1000"  src="/opps.webp" alt="image" style="width:300px; height: 300px;">
        <h2 style="line-height: 0.5;" data-aos="zoom-in" data-aos-duration="1000"><%=message%></h2>
        <p  style="font-size: 40px;line-height: 0.5; color: brown; font-weight: bold;"><%=status%></p>
        <p style="line-height: 0.5;"><%=timestamp%></p>
        <p style="line-height: 0.5;"><%=path%></p>
    </div>
<footer>
    <%-include("partials/footer.ejs")-%>
</footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>