<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url"           content="https://eventful-8xm4.onrender.com/events/thisEvent/share/<%=event._id%>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%=event.title%>" />
    <meta property="og:description"   content="<%=event.description%>" />
    <meta property="og:image"         content="<%=event.event_image.url%>" />
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title><%=event.title%></title>
    <style>
      body{
        font-size: 20px;
      }

      #enq{
        font-size: 12px;
      }
    </style>
</head>
<body>
<div>
  <nav>
    <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
    <div>
      <span><a id="navLink" href="/creators/creatorHomePage">Create event</a></span>
      <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
      <span><a id="navLink" href="/eventees/login">Log In</a></span>
    </div>
  </nav>

  <div id="welcomeContainer">
    <div id="eventTitle">
      <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;"><%=event.title%></h1>
      <p data-aos="zoom-out" data-aos-duration="1000"><img id="shareBtn" src="/share-button.webp" alt="image"></p>
      <div style="display: flex; gap:20px; justify-content: center;">
            <!--------------------- Loading Facebook SDK for JavaScript---------------------------- -->
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
              fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>
        
            <!-- button -->
            <div id="facebookBtn" class="fb-share-button" data-layout="button_count" 
            data-href="https://eventful-8xm4.onrender.com/events/thisEvent/share/<%=event._id%>" 
            >
            </div>
            <!-- ----- -->
        
            <div id="twitterBtn">
            <!------------------- Twitter post button----------------------- -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
            <!-- ------------------------------------------ -->
            </div>
            
            
            <!-- Loading Twitter javascript snippest -->
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- ----------------------------------- -->
          
        </div>
          </div>

          <div id="imageContainer">
          <img id="indexImage" src="<%=event.event_image.url%>"  alt="image">
          </div>
        </div>
          
        <div style="margin: 24px;">
          <h2 data-aos="zoom-in" data-aos-duration="1000" class="readHeadings">About:</h2>
          <p data-aos="fade-right" data-aos-duration="1000"><%=event.description%></p>

          <h2 data-aos="zoom-in" data-aos-duration="1000" class="readHeadings">Date and Time:</h2>
          <div data-aos="fade-right" data-aos-duration="1000" style="display: flex; gap: 20px;">
            <p><%=event.event_date%></p>
            <p>||</p>
            <p><%=event.starting_time%> - <%=event.ending_time%> WAT</p>
          </div>

          <h2 data-aos="zoom-in" data-aos-duration="1000" class="readHeadings">Venue:</h2>
          <p data-aos="fade-left" data-aos-duration="1000"><%=event.venue%></p>

          <h2 data-aos="zoom-in" data-aos-duration="1000" class="readHeadings">Registration Deadline:</h2>
          <p data-aos="fade-right" data-aos-duration="1000"><%=event.registration_deadline%></p>
          
          <h2 data-aos="zoom-in" data-aos-duration="1000" class="readHeadings" id="inputHead">Ticket:</h2>
          <input data-aos="fade-left" data-aos-duration="1000" type="text" value="&#36;<%=event.ticket_price%>" readonly style="border-radius: 100%; padding: 5px; text-align: center; width:50px; height: 50px; background-color: brown; color: white; border: none;font-weight: bold;">
          
          <h2 data-aos="zoom-in" data-aos-duration="1000" class="readHeadings">More Info:</h2>
          <p data-aos="fade-left" data-aos-duration="1000"><%=event.additional_info%></p>

      <!-- <h2 class="readHeadings" id="inputHead">Please click below to share</h2> -->
      <p data-aos="zoom-in" data-aos-duration="1000" style="text-align: center;"><img id="shareBtn2" src="/share-button.webp" alt="image"></p>
      <div data-aos="fade-left" data-aos-duration="1000" style="display: flex; gap:20px; justify-content: center;">
            <!--------------------- Loading Facebook SDK for JavaScript---------------------------- -->
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
              fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>
        
            <!-- button -->
            <div id="facebookBtn" class="fb-share-button" data-layout="button_count" 
            data-href="https://eventful-8xm4.onrender.com/events/thisEvent/share/<%=event._id%>" 
            >
            </div>
            <!-- ----- -->
        
      <div id="twitterBtn">
      <!------------------- Twitter post button----------------------- -->
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
      <!-- ------------------------------------------ -->
      </div>
      <!-- Loading Twitter javascript snippest -->
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <!-- ----------------------------------- -->
    
  </div>

  <hr style="margin-top: 30px;">
    <h2 style="margin-bottom: 10px;" class="readHeadings">Enquiry:</h2>
    <div data-aos="fade-up" data-aos-duration="1000" style="background-color:whitesmoke; border-radius: 20px;padding: 16px;margin-bottom:20px; width: 50%;">
    <p id="enq"><img src="<%=event.creatorId.profileImage.url%>" alt="creator image" style="height:40px; width: 40px; border-radius: 50%;vertical-align: middle;"></p>
    <p id="enq"><strong>Name: </strong><%=event.creatorId.creator_name%></p>
    <p id="enq"><strong>Company name: </strong><%=event.creatorId.company_name%></p>
    <p id="enq"><strong>Phone Number: </strong><%=event.creatorId.phoneNum%></p>
    <p id="enq"><strong>Email: </strong><%=event.creatorId.email%></p>
    </div>
</div> 
    <footer>
      <%-include("partials/footer.ejs")-%>
    </footer>
  </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
  </body>
</html>